@font-face {
  font-family: 'MesloLGS-Regular';
  src: url(Fonts/MesloLGS-Regular.ttf);
}

main {
  padding-top: 20px;
}

/* body styling */
body {
  background-color: #21262c;
  font-family: "MesloLGS-Regular";
  color: #cc99cc; /* cool light purple */
}

/* link styling */
a {
  color: #bb86fc;
  text-decoration: none;
}

h4 {
  color: #bb86fc;
}

/* dividers */
hr {
  background-color: #bb86fc;
  color: #bb86fc;
}

.container {
  display: flex;
}

/* animations + box styling */
.sec-expand {
  transition: all .2s ease-in-out;
  background-color: #303841;
  margin-bottom: 10px; /* spacing between section */
}

.sec-expand:hover {
  transform: scale(1.05);
}

/* nested boxes */
.surface-two {
  background-color: #292929;
}
